################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimpleImageGallery/.vs/SimpleImageGallery
/SimpleImageGallery/bin/Debug/netcoreapp3.1
/SimpleImageGallery/obj
