@model SimpleImageGallery.Models.CreateBlobModel

<div class="container body-content">
    <div class="row upload-container">
        <div class="upload-form drop-shadow" style="width:700px">
            <form asp-action="CreateNewBlob" method="post" enctype="multipart/form-data" id="upload-form">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                
                <div class="submit">
                    <button type="submit" id="btn-upload" class="btn btn-info">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
